/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
  header {
    background-image: linear-gradient(to bottom right, rgb(255, 154, 198), rgb(115, 190, 231));
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    padding: 1rem 2rem;
    position: relative; /* Permite adicionar navegação à direita, se necessário */
  }
  
  .logo{
    text-align: center;
  }

  header nav {
    position: absolute;
    right: 2rem; /* Move o menu de navegação para a direita */
  }
  
  header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    display: flex;
    margin: 2rem;
    gap: 1rem;
  }
  
  .sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h2 {
    margin-bottom: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .calendar {
    flex: 1;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .calendar h2 {
    padding-top: 2em;
    margin-bottom: 1rem;
  }
  
  .week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }
  
#cronometro {
    position: relative;
    width: 200px;
    height: 200px;
}

.circle {
    transform: rotate(-90deg); 
}

.circle-background {
    stroke: #e6e6e6;
}

.circle-progress {
    transition: stroke-dasharray 1s linear;
}

#time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}

  .day {
    background-color: #e9ecef;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .month .day {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    padding: 1rem;
    background-color: #febddd7b;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .week .day {
    color: #ffffff;
    font-family: "Ubuntu", serif;
    font-weight: 700;
    background-color: #72cef36e;
  }